html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #333335;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.colorwhite {
  color: #cecde2;
}

.colorblack {
  color: black;
}

.divtop {
  user-select: none;
  background-color: #32697d;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 998;
  top: 0;
  border-bottom: outset 1px gray;
}

.logoimg {
  user-select: none;
  border-radius: 50%;
  margin: 0;
}

.logoicon {
  font-size: 30px;
  cursor: pointer;
  transition: color;
}

.logoicon:hover {
  color: white;
}

.divsearch {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  align-self: left;
}

.searchbar {
  display: flex;
  background-color: #013746;
  border: 1px solid #cecde2;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  transition: border;
  color: #cecde2;
}

.searchbar:hover {
  border: 2px solid #cecde2;
}

.searchbar:focus {
  background-color: #013746;
  border: 1px solid #cecde2;
}

.searchbutton {
  user-select: none;
  background-color: #32697d;
  color: #cecde2;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: color;
  cursor: pointer;
}

.searchbutton:hover {
  color: white;
}

.btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.buttondropdown {
  user-select: none;
  all: unset;
  cursor: pointer;
  font-size: 28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color;
  color: #cecde2;
}

.buttondropdown:hover {
  color: white;
}

.buttondropdown:focus-visible {
  outline: 2px solid #9f9eb3;
  outline-offset: 4px;
}

.menu {
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 0;
  right: 0;
  width: 365px;
  list-style: none;
  padding: 0;
  background-color: #013746;
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  margin: 0;
}

.menuitem {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}

.menuitem:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.menu hr {
  margin: 6px 0;
}

.divcarouseltop {
  user-select: none;
  width: 80%;
  height: auto;
  align-self: center;
  margin-bottom: 2px;
}

.carouselimgsizetop {
  width: 100%;
  height: 250px;
}

.divcontentproducts {
  width: 75%;
  height: auto;
  background: transparent;
  gap: 10px;
}

.divproducts {
  width: 24%;
  background-color: #97afba;
  height: auto;
  padding: 5px;
  gap: 5px;
  aspect-ratio: 1/1;
  text-align: left;
}

.products {
  width: 40%;
  height: auto;
  background: transparent;
  aspect-ratio: 1/1;
}

.productsimages {
  aspect-ratio: 1/1;
  border: none;
  height: 100%;
}

.produtslabel {
  font-size: 20px;
}

.moreproducts {
  font-size: 15px;
  transition: color;
  text-decoration: none;
}

.moreproducts:hover {
  color: white;
  cursor: pointer;
}

.menuaccordionitems {
  background-color: #013746;
  border: none;
  transition: color;
  margin: 0;
  padding: none;
}

.menuaccordionitems:not(.collapse) {
  background-color: #013746;
  color: #cecde2;
}

.menuaccordionitems:focus {
  border: none;
  outline: none;
  color: #cecde2;
  background-color: #013746;
  box-shadow: none;
}

.menuaccordionitems:hover {
  color: white;
}

.menuaccordioncontent {
  background-color: #013746;
  border: none;
  margin: 0;
  outline: none;
  padding: none;
}

.menuaccordioncontent:not(.collapse) {
  background-color: #013746;
  color: #cecde2;
}

.accordion,
.accordion-item,
.accordion-button {
  border: none;
  box-shadow: none;
  color: #cecde2;
}
.accordion,
.accordion-item,
.accordion-button:not(.collapse) {
  border: none;
  box-shadow: none;
}

.accordion-button::after {
  content: '\f078';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  background-image: none;
}
