
:root {
  --bs-focus-ring-color: rgba(185, 215, 253, 0);

$input-btn-font-family: "Nunito", sans-serif;


html {
scroll-behavior: smooth;
}

body {
  background-color: #333335;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.blocker {
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.75;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: height;
  z-index: 999;
  transition: opacity 0,1s ease;
  cursor: default;
  border: none;
}

.colorwhite {
color: #cecde2;
}

.colorblack {
  color: black;
}

.divtop {
  user-select: none;
  background-color: #32697d;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
  z-index: 998;
  top: 0;
  border-bottom: outset 1px gray;
}

.logoimg {
  user-select: none;
  border-radius: 50%;
  margin: 0;
}

.logoicon {
  font-size: 30px;
  cursor: pointer;
  transition: color;
}

.logoicon:hover {
  color: white;
}

.divsearch {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  align-self: left;
}

.searchbar {
  display: flex;
  background-color: #013746;
  border: 1px solid #cecde2;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  transition: border;
  color: #cecde2;
}



.searchbar:hover {
  border: 2px solid #cecde2;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: var(--color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


.searchbutton {
  user-select: none;
  background-color: #32697d;
  color: #cecde2;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: color;
  cursor: pointer;
}

.searchbutton:hover {
  color: white;
}

.btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.buttondropdown {
  user-select: none;
all: unset;
cursor: pointer;
font-size: 28px;
color: #9f9eb3;
width: 55px;
height: 55px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: color;
color: #cecde2;
}

.buttondropdown:hover {
color: white;
}

.buttondropdown:focus-visible {
outline: 2px solid #9f9eb3;
outline-offset: 4px;
}

.menu {
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
position: fixed;
top: 0;
right:0;
width: 365px;
list-style: none;
padding: 0;
background-color: #013746;
overflow: hidden;
height: 0;
transition: height 0.35s ease;
z-index: 1000;
margin: 0;
}

.menu.open {
  height: 100%;
  overflow: auto;
}


.menu li a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}

.menu li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.menu hr {
  margin: 6px 0;
}

.closemenu {
  user-select: none;
  position: fixed;
  right: 380px;
  background-color: transparent;
  height: 35px;
  top: 15px;
  border: transparent;
  border-radius: 50%;
  width: 35px;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.35s ease, color;
  font-size: 30px;
  color: #cecde2;
  cursor: pointer;
  background-color: 013746;
}

.closemenu.open {
  opacity: 1;
  z-index: 1000;
}

.closemenu:hover {
  color: white;
}

.divcarouseltop {
  user-select: none;
  width: 80%;
  height: auto;
  align-self: center;
  margin-bottom: 2px;
}

.carouselimgsizetop{
  width: 100%;
  height: 250px;
}

.divcontentproducts {
  width: 75%;
  height: auto;
  background: transparent;
  gap: 10px;
}

.divproducts {
  width: 24%;
  background-color: #97afba;
  height: auto;
  padding: 5px;
  gap: 5px;
  aspect-ratio: 1/1;
  text-align: left;
}

.products {
  width: 40%;
  height: auto;
  background: transparent;
  aspect-ratio: 1/1;
}

.produtslabel {
  font-size: 20px;
}

.moreproducts {
  font-size: 15px;
  transition: color;
  text-decoration: none;
}

.moreproducts:hover{
  color: white;
  cursor: pointer;
}
