
$input-btn-font-family: "Nunito", sans-serif;

html {
scroll-behavior: smooth;
}

body {
  padding: 0;
  background-color: #333335;
  cursor: default;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text1 {
color: #cecde2;
}

.divtop {
  background-color: #242434;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  align-self: center;
  margin: 0;
  z-index: 999;
  position: fixed;
  top: 0;
  border-bottom: outset 1px gray;
}

.logoimg {
  border-radius: 50%;
  margin: 0;
}

.divsearch {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.searchbar {
  background-color: #453f54;
  border: 1px solid #cecde2;
  border-radius: 10px;
  height: 40px;
  width: 80%;
  text-align: center;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: var(--color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


.searchbutton {
  background-color: #453f54;
  border: 1px solid #cecde2;
  border-radius: 10px;
  height: 40px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.searchbutton:hover {
  opacity: 0.5;
}

.buttondropdown {
all: unset;
cursor: pointer;
font-size: 28px;
color: #9f9eb3;
width: 55px;
height: 55px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: opacity 0.3s ease;
align-self: end;
}

.buttondropdown:hover {
opacity: 0.5;
}

.buttondropdown:focus-visible {
outline: 2px solid #9f9eb3;
outline-offset: 4px;
}

.menu {
  position: absolute;
  top: 100%;
  width: 80px;
list-style: none;
margin: 10px 0 0;
padding: 0;
background: #4a495b;
border: 1px transparent;
overflow: hidden;
height: 0;
transition: height 0.35s ease;
}

.menu.open {
  max-height: 250px;
}


.menu li a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}

.menu li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.menu hr {
  margin: 6px 0;
}