body{
  background-color: rgb(52,61,70);
  font-family: Arial, Sans-Serif;
  text-align: center;
  margin: 0;
  padding: 0;
}


.divtitle {
  border-radius: 25px;
  width: 100%;
  background-color: rgb(79,91,102);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin: 0;
}


.pagecontent {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 15px; 
  margin-top: 20px;
}


.divselector {
  border-radius: 25px;
  width: 15%;
  background-color: rgba(79,91,102,0.5);
  padding: 10px;
  box-sizing: border-box;
}

.itemselect {
  cursor: pointer;
  border-radius: 25px;
  width: 100%;
  height: 30px;
  background-color: rgba(79,91,110,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: none;
}

.itemselect span {
  position: relative;
  transition: 0.5s;
}

.itemselect span:after {
  content: '\00bb';
  color: rgb(192,197,206);
  position: absolute;
  opacity: 0;
  align-content: center;
  right: -20%;
  top: 30%;
  transition: 0.5s;
}

.itemselect:hover span {
  padding-right: 20%;
}

.itemselect:hover span:after {
  opacity: 1;
  right: 0;
}

.item {
  color: rgb(192,197,206);
background-color: rgba(79,91,110,0.5);
}


.divparagraph {
  border-radius: 25px;
  width: 100%;
  background-color: rgba(79,91,102,0.5);
  padding: 20px;
  box-sizing: border-box;
}

.subtitle {
  color: white;
}

.paragraph {
  color: rgb(192,197,206);
}
